crewai[azure-ai-inference]
crewai-tools
python-dotenv
langchain
langchain-google-genai
google-generativeai
litellm
pypdf
flask
Pillow
matplotlib
seaborn
plotly
graphviz
networkx
wordcloud
pandas
numpy